$base_font_size: 16px;
$base_line_height: 26px;
$font_heading: Gill1;
$font_main: Gill3;
$font_heading_weight: 700;
$font_main_weight: 400;
$retina: "(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)";

$thin:100;
$extralight:200;
$light:300;
$normal:400;
$medium:500;
$semibold:600;
$bold:700;
$extrabold:800;
$heavy:900;

$action_1: #7EC5D3  ;
$action_2: #46eba3;
$action_3: #e86664;
$color_main: #3f3f3f;
$color_heading: #7d7e81;
$color_white: #f6f6f6;
$color_gray: #e2e3e4;
$bg_dark: #7d7e81;
$bg_light: #f6f6f6;

$color_red: #E86664;
$color_red_hover: #e10000;
$color_green: #46EBA3;
$color_green_hover: #0cb658;
$color_facebook: #2e4da7;
$color_twitter: #0aa0f5;
$color_dribbble: #E93A7D;
